.footer{
    background: black;
    color: white;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo{
    font-size: 26px;
    font-weight: bold;
}

.footer__logo a{
    color: white;
    text-decoration: none;
}

.footer__simple {
    padding: 5px;
    background: white;
    color: black;
    border-radius: 3px;
    margin-right: 5px;
}

.footer__login {
    color: black;
}

.all-rights{
    color: white;
}
