.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;

    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 15px;
}

.header__logo{
    font-size: 26px;
    font-weight: bold;
}

.header a{
    color: black !important;
    text-decoration: none;
    padding:5px 10px;
}

.header__auth{
    display: flex;
    align-items: center;
}

.header__search input{
    width: 500px;
    height: 20px;
    border-radius: 2px;
}
