.content{
    display: flex;
    align-items: start;
}

.content2{
    display: flex;
    justify-content: center;
    align-items: start;
}

.content__articles{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.content__block
{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.content__block>.pagination {
    margin: 0 auto;
}

.pagination{
    display: flex;
    list-style-type: none;
}

.paginate{
    margin: 0 auto;
}

.pagination .disabled{
    display: none;
}


.pagination .active{
    background: white;
    padding: 2px;
}

.pagination li{
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px;
    background: black;
    margin: 3px;
}

.pagination li a{
    color: black;
    margin: 0px 5px;
    color: white;
}


/* ========================================= */

.rubric{
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
}
