.content{
    display: flex;
    align-items: start;
}

.content2{
    display: flex;
    justify-content: center;
    align-items: start;
}

.content__articles{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-atr{
    width: 26.8rem !important;
    height: 23rem !important;
}

.img-atr{
    width: 26.6rem !important;
    height: 16rem !important;
}

.content__block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}
.content__block2 {
    display: flex;
    flex-wrap: wrap;
}

.content__block>.pagination {
    margin: 0 auto;
}

.pagination{
    display: flex;
    list-style-type: none;
}

.paginate{
    margin: 0 auto;
}

/* ========================================= */

.rubric{
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: -20px;
    font-size: 26px;
    font-weight: bold;
    background: black;
    color: white;
    padding: 0px 20px;
}
