.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    margin-top: 20px;
}

.inputForm{
    width: 100% !important;
    padding: 5px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 3px;
}
