.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.profile__item{
    display: flex;
    align-items: center;
}

.profile__item>p{
    width: 185px;
}

.user-title{
    background: black;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 3px;
}
