.regForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-block{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.auth-block div{
    text-align: center;
    font-weight: bold;
}

.auth-block input{
    width: 75%;
}

.auth-btn {
    background: black;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
}
